<tekkl-notification-container></tekkl-notification-container>
<div class="login-outer">
	<div class="backdrop">
		<div class="row">
			<div class="small-12 large-6 large-offset-3 columns">
				<div class="login-container">
					<div class="logo-container">
						<div class="logo"></div>
						<span class="subtitle" i18n="The name of page, the user is currently on.">Backend</span>
					</div>
					<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
						<tekkl-text-field [control]="form.get('_username')" label="Username / Email" i18n-label="Input Field Label">
							<tekkl-field-error [control]="form.get('_username')" type="required" message="Please provide your username or email" i18n-message="Error message for empty username form field"></tekkl-field-error>
						</tekkl-text-field>
						<tekkl-text-field [control]="form.get('_password')" label="Password" i18n-label="Input Field Label" type="password">
							<tekkl-field-error [control]="form.get('_password')" type="required" message="Please provide your password" i18n-message></tekkl-field-error>
							<tekkl-field-error [control]="form.get('_password')" type="minlength" message="Your password needs to be at least 8 characters long" i18n-message="Error message for password entry that is too short"></tekkl-field-error>
						</tekkl-text-field>
						<div class="actions">
							<button class="button" type="submit" [disabled]="!form.valid" i18n="Submit Button Label">Submit</button>
							<tekkl-facebook-login (afterLogin)="handleAuthenticatedUser($event)"></tekkl-facebook-login>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<tekkl-notification id="login.success" type="info" i18n="Success Message">You have sucessfully logged in.</tekkl-notification>
	<tekkl-notification id="login.failed" type="alert" i18n="Error Message: Login has failed due to bad credentials">Your login has failed. Please check if you provided your correct username / email and password.</tekkl-notification>
	<tekkl-notification id="server.error" type="alert" i18n="Error Message: Something went wrong">Something went wrong. Please try it again later.</tekkl-notification>
	<tekkl-notification id="missing.authorization" type="alert" i18n="Error Message: User does not have the authorization to log into the backend">You are not allowed to log into the backend of this site.</tekkl-notification>
</div>
