<tekkl-page-title i18n="Page Title: Account Registration">Account Registration</tekkl-page-title>
<tekkl-form-view background="/assets/public/images/frontend/user/login_backdrop.jpg">
	<div class="view-container bottom-sharp">
		<div class="logo-container">
			<div class="logo"></div>
			<span class="subtitle" i18n="The name of page, the user is currently on.">Registration</span>
		</div>
		<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
			<tekkl-text-field name="username" [control]="form.get('username')" label="Username" i18n-label="Input Field Label">
				<tekkl-field-error [control]="form.get('username')" type="required" message="Please choose a username you'll use for login" i18n-message="Error message for empty username form field"></tekkl-field-error>
			</tekkl-text-field>
			<tekkl-text-field name="email" [control]="form.get('email')" label="Email" i18n-label="Input Field Label">
				<tekkl-field-error [control]="form.get('email')" type="required" message="Please enter your email address" i18n-message="Error message for empty email form field"></tekkl-field-error>
				<tekkl-field-error [control]="form.get('email')" type="email" message="Unfortunately this is not a valid email address. Please check for typos." i18n-message="Error message for empty email form field"></tekkl-field-error>
			</tekkl-text-field>
			<div class="form-group" [formGroup]="form.get('plainPassword')">
				<tekkl-text-field name="first" [control]="form.get('plainPassword').get('first')" label="Password" i18n-label="Input Field Label" type="password">
					<tekkl-field-error [control]="form.get('plainPassword').get('first')" type="required" message="Please provide your password" i18n-message></tekkl-field-error>
					<tekkl-field-error [control]="form.get('plainPassword').get('first')" type="minlength" message="Your password needs to be at least 8 characters long" i18n-message="Error message for password entry that is too short"></tekkl-field-error>
				</tekkl-text-field>
				<tekkl-text-field name="second" [control]="form.get('plainPassword').get('second')" label="Verify Password" i18n-label="Input Field Label" type="password">
					<tekkl-field-error [control]="form.get('plainPassword').get('second')" type="required" message="Please provide your password again" i18n-message></tekkl-field-error>
					<tekkl-field-error [control]="form.get('plainPassword')" type="matching" message="The two passwords do not match" i18n-message="Error message for password verification that does not match original password"></tekkl-field-error>
				</tekkl-text-field>
			</div>
			<div class="actions">
				<button class="button" type="submit" [disabled]="!form.valid" i18n="Submit Button Label">Create Account</button>
				<tekkl-facebook-login (afterLogin)="handleAuthenticatedUser($event)"></tekkl-facebook-login>
			</div>
		</form>
	</div>
	<div class="sub-container">
		<ng-container i18n="Question under the registration screen that leads to login page">Already have an account?</ng-container> <a routerLink="/user/login" i18n="Link to registration page">Login now</a>
	</div>
</tekkl-form-view>

<tekkl-notification id="confirmation.required" i18n="Confirmation required after registration">You have received an email, which allows you to confirm your newly created account.</tekkl-notification>
<tekkl-notification id="registration.success" i18n="Registration Success Message">Your registration has been a success.</tekkl-notification>
<tekkl-notification id="fos_user.email.already_used" type="alert" i18n="Registration Error Message: The provided email is already used by another account">The email address you provided is already in use. Do you already have an account?</tekkl-notification>
<tekkl-notification id="fos_user.username.already_used" type="alert" i18n="Registration Error Message: The provided username is already used by another account">The username you provided is already in use.</tekkl-notification>
<tekkl-notification id="fos_user.password.mismatch" type="alert" i18n="Registration Error Message: The passwords do not match">The two passwords do not match.</tekkl-notification>
<tekkl-notification id="server.error" type="alert" i18n="Error Message: Something went wrong">Something went wrong. Please try it again later.</tekkl-notification>
