%badge {
	background-position: 0 100%;
}

%badge-dims {
	width: 64px;
	height: 60px;
}

%bio-icon {
	background-position: 100% 0;
}

%bio-icon-dims {
	width: 51px;
	height: 34px;
}

%checkbox-mark {
	background-position: 82.63888888888889% 40.476190476190474%;
}

%checkbox-mark-dims {
	width: 8px;
	height: 8px;
}

%form-field-error {
	background-position: 75.3731343283582% 44.15584415584416%;
}

%form-field-error-dims {
	width: 18px;
	height: 15px;
}

%logo {
	background-position: 0 0;
}

%logo-dims {
	width: 101px;
	height: 32px;
}

