%badge {
	background-position: 0 100%;
}

%badge-dims {
	width: 64px;
	height: 60px;
}

%bio-icon {
	background-position: 100% 0;
}

%bio-icon-dims {
	width: 51px;
	height: 34px;
}

%checkbox-mark {
	background-position: 80.55555555555556% 58.333333333333336%;
}

%checkbox-mark-dims {
	width: 8px;
	height: 8px;
}

%form-field-error {
	background-position: 75.3731343283582% 44.15584415584416%;
}

%form-field-error-dims {
	width: 18px;
	height: 15px;
}

%logo {
	background-position: 0 0;
}

%logo-dims {
	width: 101px;
	height: 32px;
}

%notification_close_alert {
	background-position: 86.86131386861314% 44.15584415584416%;
}

%notification_close_alert-dims {
	width: 15px;
	height: 15px;
}

%notification_close_info {
	background-position: 97.81021897810218% 44.15584415584416%;
}

%notification_close_info-dims {
	width: 15px;
	height: 15px;
}

%notification_close_warning {
	background-position: 73.72262773722628% 63.63636363636363%;
}

%notification_close_warning-dims {
	width: 15px;
	height: 15px;
}

