@import 'icon';

@mixin icon($icon, $hover: false, $transitiontype: opacity, $rootelementsize: true, $rootelementposition: relative) {
	//relative by default
	position: $rootelementposition;
	//set root element to same size as icon
	@if ($rootelementsize) {
		@extend %#{$icon}-dims;
	}
	//properites shared across before and after
	&:before,
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		background-image: url('/assets/public/sprite/generated/sprite-3511857f.svg');
		background-repeat: no-repeat;
		@if ($transitiontype != none) {
			-moz-transition:    $transitiontype, 0.5s, ease;
			-o-transition:      $transitiontype, 0.5s, ease;
			-webkit-transition: $transitiontype, 0.5s, ease;
			-ms-transition:     $transitiontype, 0.5s, ease;
			transition:         $transitiontype, 0.5s, ease;
		}
		@content;
	}
	//use the selected icon in before element
	&:before {
		@extend %#{$icon};
		@extend %#{$icon}-dims;
	}
	//dont show after yet, maybe theres no hover...
	&:after {
		display: none;
	}
	//...but if theres a hover...
	@if ($hover) {
		//...then show after and use the hover icon
		&:after {
			display: inline-block;
			@extend %#{$icon}-hover;
			@extend %#{$icon}-dims;
			opacity: 0;
		}
		//and use this for transitions
		&:hover {
			&:before {
				opacity: 0;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	//if no-svg or no-svg-safari is set, then use png sprite, and if its a retina display use 2x png
	.ie9 &:before,
	.ie9 &:after,
	.no-svg-safari &:before,
	.no-svg-safari &:after,
	.no-svg &:before,
	.no-svg &:after {
		background-image: url('/assets/public/sprite/generated/sprite-3511857fx1.png');
		//retina.
		@media only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and ( min--moz-device-pixel-ratio: 2),
				only screen and ( -o-min-device-pixel-ratio: 2/1),
				only screen and ( min-device-pixel-ratio: 2),
				only screen and ( min-resolution: 192dpi),
				only screen and ( min-resolution: 2dppx) {
					background-image: url('/assets/public/sprite/generated/sprite-3511857fx2.png');
					background-size: 152px 92px; //replace with image-size values
		}
	}
}