<tekkl-page-title i18n="Page Title: Reset Password">Reset Password</tekkl-page-title>
<tekkl-form-view background="/assets/public/images/frontend/user/login_backdrop.jpg">
	<div class="view-container">
		<div class="logo-container">
			<div class="logo"></div>
			<span class="subtitle" i18n="The name of page, the user is currently on.">Reset Password</span>
		</div>
		<form *ngIf="!success" (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
			<tekkl-text-field name="email" [control]="form.get('email')" label="Email address used during registration" i18n-label="Input Field Label">
				<tekkl-field-error [control]="form.get('email')" type="required" message="Please provide the email-address you used when you created the account" i18n-message="Error message for empty email form field"></tekkl-field-error>
				<tekkl-field-error [control]="form.get('email')" type="email" message="This is not a vaild email-address" i18n-message="Error message for invalid email form field"></tekkl-field-error>
			</tekkl-text-field>
			<div class="actions">
				<button class="button" type="submit" [disabled]="!form.valid" i18n="Submit Button Label">Submit</button>
			</div>
		</form>
		<div *ngIf="success" class="success-message" i18n="Success Message">
			<p>We have send you an email that allows you to reset your password. Please check your inbox.</p>
			<div class="actions">
				<a routerLink="/" class="button" i18n="HomepageLink">Back to the Homepage</a>
			</div>
		</div>
	</div>
</tekkl-form-view>

<tekkl-notification id="email.does.not.exist" type="alert" i18n="Error Message" duration="10000">We could not find the account associated to this email address. Did you maybe register with a different address?</tekkl-notification>
<tekkl-notification id="reset.email.already.sent" type="alert" i18n="Error Message" duration="10000">We have already sent you an email, which allows you to check your password. Please also check your spam folder, if you can't find it in your inbox.</tekkl-notification>
<tekkl-notification id="server.error" type="alert" i18n="Error Message">A error occured. Please try again.</tekkl-notification>