<div class="header-container">
	<div class="row column">
		<div class="offcanvas-toggle" (click)="toggleOffCanvas()" i18n="Main Menu Offcanvas Toogle Label">
			Menu
		</div>
		<header>
			<a routerLink="/" class="logo"></a>
		</header>
		<nav role="navigation">
			<ul class="top-navi">
				<li>
					<tekkl-dropdown trigger="hover" position="right">
						<tekkl-dropdown-header>
							<span i18n="Top-Navigation Label">Account</span>
						</tekkl-dropdown-header>
						<tekkl-dropdown-body>
							<ul class="submenu">
								<li>
									<a routerLink="/user/login" i18n="Submenu Label">Login</a>
									<ul>
										<li>
											<a routerLink="/user/reset-password" i18n="Submenu Label">Change Password</a>
										</li>
									</ul>
								</li>
								<li>
									<a routerLink="/user/register" i18n="Submenu Label">Register</a>
								</li>
							</ul>
						</tekkl-dropdown-body>
					</tekkl-dropdown>
				</li>
				<li>
					<a routerLink="/backend" i18n="Top-Navigation Label">Backend</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
