<div class="row column">
	<h1>Einstellungen</h1>
	<p class="subtitle">Lege fest, wie die App für Dich arbeiten soll</p>
	<div class="settings">
		<div class="setting">
			<tekkl-toggle-field></tekkl-toggle-field>
			<h3>Browser Erinnerungen erhalten</h3>
			<p>
				Die App sendet dir 2x täglich eine Erinnerung über den Browser.
			</p>
		</div>
		<div class="setting">
			<tekkl-toggle-field></tekkl-toggle-field>
			<h3>Email-Erinnerungen erhalten</h3>
			<p>
				Die App sendet dir 1x täglich eine Erinnerung via Email.
			</p>
		</div>
	</div>
</div>