{% extends "@TekklApp/Email/layout.html" %}

{% block subject %}
	{{ appName }}: Reset your password
{% endblock %}

{% block content %}
	<p>Hi there,</p>

	<p>you asked us to reset your password. To finalize the process, please click on the link below and select your new password.</p>

	<p><a href="{{ confirmationLink}}">{{ confirmationLink }}</a></p>

	<p>After that, you will be able to log in using your username or password and the new password you provided.</p>
	
	<p>Username: {{ username }}<br />
	Email: {{ email }}</p>

	<p>If you haven't requested a new password, please ignore this email. Your old password will remain valid.</p>

	<p>Have a great day!<br />
	Your team from {{ appName }}</p>
{% endblock %}