{% extends "@TekklApp/Email/layout.html" %}

{% block subject %}
	Your new {{ appName }} account has been created
{% endblock %}

{% block content %}
	<p>Hi there,</p>

	<p>we are so happy that you decided to register to {{ appName }}. For security reasons, you need to enable your account by clicking on the confirmation link below:</p>

	<p><a href="{{ confirmationLink}}">{{ confirmationLink }}</a></p>

	<p>In the future you can log into the <a href="{{ baseUrl }}">site</a> using a combination of your username or email address and the password you provided.</p>
	
	<p>Username: {{ username }}<br />
	Email: {{ email }}</p>

	<p>We hope you'll be very happy using our app. If you have the time to give us feedback, we would appreciate it very much. Just send us a mail to <a href="mailto:{{ appEmail }}">{{ appEmail }}</a> and we will come back to you as soon as possible.</p>

	<p>Have a great day!<br />
	Your team from {{ appName }}</p>
{% endblock %}