<div class="wrapper">
	<tekkl-notification-container></tekkl-notification-container>
	<tekkl-offcanvas>
		<ul>
			<li>
				<a close-on-click routerLink="/"><div class="icon icon-recos"></div>Empfehlungen</a>
			</li>
			<li>
				<a close-on-click routerLink="/verlauf"><div class="icon icon-history"></div>Verlauf</a>
			</li>
			<li>
				<a close-on-click routerLink="/favoriten"><div class="icon icon-favs"></div>Favoriten</a>
			</li>
			<li>
				<a close-on-click routerLink="/einstellungen"><div class="icon icon-settings"></div>Einstellungen</a>
			</li>
		</ul>
	</tekkl-offcanvas>
	<div class="side-nav">
		<div class="logo-container">
			<a routerLink="/" class="logo"></a>
		</div>
		<div class="suptitle">
			Aktiv-Pause
		</div>
		<ul>
			<li>
				<a routerLink="/"><div class="icon icon-recos"></div>Empfehlungen</a>
			</li>
			<li>
				<a routerLink="/verlauf"><div class="icon icon-history"></div>Verlauf</a>
			</li>
			<li>
				<a routerLink="/favoriten"><div class="icon icon-favs"></div>Favoriten</a>
			</li>
			<li>
				<a routerLink="/einstellungen"><div class="icon icon-settings"></div>Einstellungen</a>
			</li>
		</ul>
	</div>
	<tekkl-header></tekkl-header>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
	<tekkl-footer></tekkl-footer>
</div>

