<tekkl-page-title i18n="Page Title: Change Password">Change Password</tekkl-page-title>
<tekkl-form-view background="/assets/public/images/frontend/user/login_backdrop.jpg">
	<div class="view-container">
		<div class="logo-container">
			<div class="logo"></div>
			<span class="subtitle" i18n="The name of page, the user is currently on.">create new password</span>
		</div>
		<form *ngIf="!success && !error" (ngSubmit)="onSubmit(form.value)" [formGroup]="form.get('reset_form').get('plainPassword')">
			<tekkl-text-field name="first" [control]="form.get('reset_form').get('plainPassword').get('first')" label="New Password" i18n-label="Input Field Label" type="password">
				<tekkl-field-error [control]="form.get('reset_form').get('plainPassword').get('first')" type="required" message="Please provide a new password for your account" i18n-message="Error message for empty password form field"></tekkl-field-error>
				<tekkl-field-error [control]="form.get('reset_form').get('plainPassword').get('first')" type="minlength" message="Your password must have at least 8 characters" i18n-message="Error message for invalid password form field"></tekkl-field-error>
			</tekkl-text-field>
			<tekkl-text-field name="second" [control]="form.get('reset_form').get('plainPassword').get('second')" label="Verify your password" i18n-label="Input Field Label" type="password">
				<tekkl-field-error [control]="form.get('reset_form').get('plainPassword')" type="matching" message="Both passwords are not the same" i18n-message="Error message for false password verification"></tekkl-field-error>
			</tekkl-text-field>
			<div class="actions">
				<button class="button" type="submit" [disabled]="!form.valid" i18n="Submit Button Label">Submit</button>
			</div>
		</form>
		<div *ngIf="success" class="success-message" >
			<p i18n="Success Message">Your new password has been saved. Please use this password in the future, when you try to login.</p>
			<div class="actions">
				<a routerLink="/" class="button" i18n="HomepageLink">Back to the Homepage</a>
			</div>
		</div>
		<div *ngIf="error == 'unknown.token'" class="error-message">
			<p i18n="Error Message">Hm. The password reset link that took you here seems to have been outdated. Please trigger the process again.</p>
			<div class="actions">
				<a routerLink="/user/reset-password" class="button" i18n="Pasword Reset Link">Reset Password</a> <a routerLink="/" class="button" i18n="Home Link">Back to Home</a>
			</div>
		</div>
	</div>
</tekkl-form-view>