@import "./src/assets/private/sass/base";
.message
	font-size: 14px
	position: relative
	padding-left: 30px
	min-height: 25px

	&.wait
		.icon
			position: absolute
			top: 0
			left: 0
			width: 25px
			height: 25px
			background: url('/assets/public/images/shared/loading_16x16.gif') 50% 50% no-repeat

	&.success
		.icon
			top: 4px
			left: 4px
			+icon($icon: icon-success, $rootelementposition: absolute)

	&.error
		.icon
			top: 4px
			left: 4px
			+icon($icon: icon-error, $rootelementposition: absolute)